.pins 
  display inline-block
  min-height 100px

.pins .pin
  width 20px
  height 20px
  border 1px solid black
  border-radius 100%
  float left
  display inline-block
  margin 0 10px 5px 0

.pins .pin:nth-child(4),
.pins .pin:nth-child(7),
.pins .pin:nth-child(9)
  margin-right 0

.pins .pin:nth-child(5),
.pins .pin:nth-child(8),
.pins .pin:nth-child(10)
  clear left

.pins .pin:nth-child(5) 
  margin-left 15px

.pins .pin:nth-child(8)
  margin-left 30px

.pins .pin:nth-child(10)
  margin-left 45px
