.scoreboard
  margin-bottom 10%

.frames
  display inline-block

.frames .frame
  float left
  border 1px solid black
  border-right none
  padding 10px
  min-width: 66px
  min-height: 66px

.frames .frame:last-child
  border-right 1px solid black 